name: experiments-binding-affinity
channels:
  - conda-forge
dependencies:
  # Base depends
  - python
  - pip
  - pandas
  - requests
  - pint
  - appdirs
  - openff-toolkit >=0.9
  - tqdm
  - pytorch 1.7.*
  - torchvision
  - pytorch-lightning
  - xgboost
  - watermark
  - papermill 2.2.*
  - jupyterlab
  - nglview
  - matplotlib-base
  - ruamel.yaml

  - pip:
      # Torch geometric
      - --find-links https://pytorch-geometric.com/whl/torch-1.7.0+cpu.html
      - torch-geometric
      - torch-cluster
      - torch-scatter
      - torch-sparse
      - torch-spline-conv
      # PyTorch trees
      - https://github.com/ValentinFigue/Sklearn_PyTorch/archive/1b56a43e41de331ecdf73d08418f75bb34c9fa06.tar.gz
      # Latest kinoml
      - https://github.com/openkinome/kinoml/archive/api.tar.gz
### After creating the environment, you will need to run these this to enable jupyter-lab widgets
# jupyter labextension install @jupyter-widgets/jupyterlab-manager nglview-js-widgets @jupyterlab/toc